.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-navlink {
  text-decoration: none;
}
.navigation-links-navlink1 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-navlink2 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}










.navigation-links-root-class-name10 {
  margin-right: 4em;
}



.navigation-links-root-class-name14 {
  margin-right: 4em;
}
.navigation-links-root-class-name15 {
  margin-right: 4em;
}


@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-navlink {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.brands-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.brands-header {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: 5px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: 5px;
  justify-content: space-between;
}
.brands-image {
  width: 100px;
  object-fit: cover;
}
.brands-nav {
  display: flex;
}
.brands-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  text-decoration: none;
}
.brands-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.brands-burger-menu {
  display: none;
}
.brands-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: none;
}
.brands-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.brands-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.brands-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.brands-image01 {
  height: 2rem;
}
.brands-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.brands-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.brands-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.brands-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.brands-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.brands-image02 {
  width: 100%;
  object-fit: cover;
}
.brands-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2f70c9;
}
.brands-text {
  color: #ffffff;
  font-style: normal;
  font-weight: 800;
}
.brands-text01 {
  margin-top: 1em;
  text-align: center;
}
.brands-container3 {
  width: 100%;
  height: 3372px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.brands-container4 {
  flex: 0 0 auto;
  width: 434px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.brands-image03 {
  width: 50%;
  object-fit: cover;
}
.brands-image04 {
  width: 50%;
  object-fit: cover;
}
.brands-image05 {
  width: 50%;
  object-fit: cover;
}
.brands-image06 {
  width: 50%;
  object-fit: cover;
}
.brands-image07 {
  width: 50%;
  object-fit: cover;
}
.brands-image08 {
  width: 50%;
  object-fit: cover;
}
.brands-image09 {
  width: 50%;
  object-fit: cover;
}
.brands-image10 {
  width: 50%;
  object-fit: cover;
}
.brands-image11 {
  width: 50%;
  object-fit: cover;
}
.brands-image12 {
  width: 50%;
  object-fit: cover;
}
.brands-image13 {
  width: 50%;
  object-fit: cover;
}
.brands-image14 {
  width: 50%;
  object-fit: cover;
}
.brands-image15 {
  width: 50%;
  object-fit: cover;
}
.brands-image16 {
  width: 50%;
  object-fit: cover;
}
.brands-image17 {
  width: 50%;
  object-fit: cover;
}
.brands-image18 {
  width: 50%;
  object-fit: cover;
}
.brands-image19 {
  width: 50%;
  object-fit: cover;
}
.brands-image20 {
  width: 50%;
  object-fit: cover;
}
.brands-image21 {
  width: 50%;
  object-fit: cover;
}
.brands-image22 {
  width: 50%;
  object-fit: cover;
}
.brands-image23 {
  width: 50%;
  object-fit: cover;
}
.brands-separator {
  width: 100%;
  height: 1px;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-gray-900);
}
.brands-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: flex-start;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.brands-container5 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.brands-logo {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
}
.brands-image24 {
  width: 100px;
  object-fit: cover;
}
.brands-text07 {
  margin-top: var(--dl-space-space-oneandhalfunits);
}
.brands-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.brands-container6 {
  display: flex;
  align-items: flex-start;
  margin-right: 10rem;
  flex-direction: row;
  justify-content: space-between;
}
.brands-product-container {
  width: 212px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.brands-text08 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.brands-navlink {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.brands-navlink1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.brands-navlink2 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.brands-container7 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.brands-contact {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: flex-start;
}
.brands-text09 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.brands-link2 {
  text-decoration: none;
}
.brands-socials {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.brands-text10 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.brands-container8 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.brands-icon-group2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.brands-link3 {
  display: contents;
}
.brands-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  text-decoration: none;
}
.brands-link4 {
  display: contents;
}
.brands-icon16 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
@media(max-width: 991px) {
  .brands-icon02 {
    margin-left: 1em;
  }
  .brands-icon04 {
    display: flex;
  }
  .brands-container3 {
    height: 2771px;
  }
  .brands-container4 {
    flex-wrap: wrap;
  }
  .brands-image03 {
    width: 40%;
  }
  .brands-image04 {
    width: 40%;
  }
  .brands-image05 {
    width: 40%;
  }
  .brands-image06 {
    width: 40%;
  }
  .brands-image07 {
    width: 40%;
  }
  .brands-image08 {
    width: 40%;
  }
  .brands-image09 {
    width: 40%;
  }
  .brands-image10 {
    width: 40%;
  }
  .brands-image11 {
    width: 40%;
  }
  .brands-image12 {
    width: 40%;
  }
  .brands-image13 {
    width: 40%;
  }
  .brands-image14 {
    width: 40%;
  }
  .brands-image15 {
    width: 40%;
  }
  .brands-image16 {
    width: 40%;
  }
  .brands-image17 {
    width: 40%;
  }
  .brands-image18 {
    width: 40%;
  }
  .brands-image19 {
    width: 40%;
  }
  .brands-image20 {
    width: 40%;
  }
  .brands-image21 {
    width: 40%;
  }
  .brands-image22 {
    width: 40%;
  }
  .brands-image23 {
    width: 40%;
  }
  .brands-footer {
    flex-direction: column;
  }
  .brands-container6 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .brands-product-container {
    margin-right: var(--dl-space-space-fourunits);
  }
  .brands-text08 {
    font-weight: 700;
  }
  .brands-icon16 {
    margin-left: 1em;
  }
}
@media(max-width: 767px) {
  .brands-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .brands-nav {
    display: none;
  }
  .brands-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .brands-container3 {
    height: 2845px;
  }
  .brands-image03 {
    width: 40%;
  }
  .brands-image04 {
    width: 40%;
  }
  .brands-image05 {
    width: 40%;
  }
  .brands-image06 {
    width: 40%;
  }
  .brands-image07 {
    width: 40%;
  }
  .brands-image08 {
    width: 40%;
  }
  .brands-image09 {
    width: 40%;
  }
  .brands-image10 {
    width: 40%;
  }
  .brands-image11 {
    width: 40%;
  }
  .brands-image12 {
    width: 40%;
  }
  .brands-image13 {
    width: 40%;
  }
  .brands-image14 {
    width: 40%;
  }
  .brands-image15 {
    width: 40%;
  }
  .brands-image16 {
    width: 40%;
  }
  .brands-image17 {
    width: 40%;
  }
  .brands-image18 {
    width: 40%;
  }
  .brands-image19 {
    width: 40%;
  }
  .brands-image20 {
    width: 40%;
  }
  .brands-image21 {
    width: 40%;
  }
  .brands-image22 {
    width: 40%;
  }
  .brands-image23 {
    width: 40%;
  }
  .brands-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .brands-container5 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .brands-logo {
    align-items: center;
  }
  .brands-text07 {
    margin-top: var(--dl-space-space-twounits);
    text-align: center;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .brands-links-container {
    width: 100%;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
  }
  .brands-container6 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .brands-product-container {
    margin-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 479px) {
  .brands-header {
    padding: var(--dl-space-space-unit);
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .brands-image {
    width: auto;
    height: 58px;
  }
  .brands-icon-group {
    display: none;
  }
  .brands-mobile-menu {
    padding: 16px;
  }
  .brands-container3 {
    height: 2822px;
    align-items: center;
    margin-bottom: 5px;
    flex-direction: column;
    padding-bottom: 0px;
    justify-content: flex-start;
  }
  .brands-footer {
    padding: var(--dl-space-space-unit);
  }
  .brands-container5 {
    align-items: center;
    flex-direction: column;
  }
  .brands-text07 {
    margin-top: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-twounits);
  }
  .brands-links-container {
    align-items: center;
    flex-direction: column;
  }
  .brands-container6 {
    margin-right: 0px;
  }
  .brands-container7 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    align-items: flex-start;
    margin-bottom: 0px;
  }
  .brands-contact {
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
  }
}
