.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-navlink {
  text-decoration: none;
}
.navigation-links-navlink1 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-navlink2 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}










.navigation-links-root-class-name10 {
  margin-right: 4em;
}



.navigation-links-root-class-name14 {
  margin-right: 4em;
}
.navigation-links-root-class-name15 {
  margin-right: 4em;
}


@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-navlink {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.contact-us-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.contact-us-header {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: 5px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: 5px;
  justify-content: space-between;
}
.contact-us-image {
  width: 100px;
  object-fit: cover;
}
.contact-us-nav {
  display: flex;
}
.contact-us-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  text-decoration: none;
}
.contact-us-burger-menu {
  display: none;
}
.contact-us-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: none;
}
.contact-us-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.contact-us-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contact-us-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.contact-us-image1 {
  height: 2rem;
}
.contact-us-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-us-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.contact-us-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.contact-us-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.contact-us-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.contact-us-image2 {
  width: 100%;
  object-fit: cover;
}
.contact-us-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2f70c9;
}
.contact-us-text {
  color: #ffffff;
  margin-top: 0em;
}
.contact-us-link1 {
  margin-top: 2em;
  text-decoration: none;
}
.contact-us-text1 {
  margin-top: 1em;
}
.contact-us-container3 {
  width: 658px;
  height: 271px;
  display: flex;
  align-self: center;
  margin-top: 2em;
  align-items: flex-start;
  justify-content: center;
}
.contact-us-div1 {
  width: 311px;
  height: 260px;
}
.contact-us-separator {
  width: 100%;
  height: 1px;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-gray-900);
}
.contact-us-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: flex-start;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.contact-us-container4 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.contact-us-logo {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
}
.contact-us-image3 {
  width: 100px;
  object-fit: cover;
}
.contact-us-text2 {
  margin-top: var(--dl-space-space-oneandhalfunits);
}
.contact-us-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.contact-us-container5 {
  display: flex;
  align-items: flex-start;
  margin-right: 10rem;
  flex-direction: row;
  justify-content: space-between;
}
.contact-us-product-container {
  width: 212px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.contact-us-text3 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.contact-us-navlink {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.contact-us-navlink1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.contact-us-navlink2 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.contact-us-container6 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.contact-us-contact {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: flex-start;
}
.contact-us-text4 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.contact-us-link2 {
  text-decoration: none;
}
.contact-us-socials {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.contact-us-text5 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.contact-us-icon-group2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.contact-us-link3 {
  display: contents;
}
.contact-us-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  text-decoration: none;
}
@media(max-width: 991px) {
  .contact-us-icon02 {
    display: flex;
  }
  .contact-us-footer {
    flex-direction: column;
  }
  .contact-us-container5 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .contact-us-product-container {
    margin-right: var(--dl-space-space-fourunits);
  }
  .contact-us-text3 {
    font-weight: 700;
  }
}
@media(max-width: 767px) {
  .contact-us-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .contact-us-nav {
    display: none;
  }
  .contact-us-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contact-us-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .contact-us-container4 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .contact-us-logo {
    align-items: center;
  }
  .contact-us-text2 {
    margin-top: var(--dl-space-space-twounits);
    text-align: center;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .contact-us-links-container {
    width: 100%;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
  }
  .contact-us-container5 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .contact-us-product-container {
    margin-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 479px) {
  .contact-us-header {
    padding: var(--dl-space-space-unit);
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .contact-us-image {
    width: auto;
    height: 58px;
  }
  .contact-us-icon-group {
    display: none;
  }
  .contact-us-mobile-menu {
    padding: 16px;
  }
  .contact-us-footer {
    padding: var(--dl-space-space-unit);
  }
  .contact-us-container4 {
    align-items: center;
    flex-direction: column;
  }
  .contact-us-text2 {
    margin-top: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-twounits);
  }
  .contact-us-links-container {
    align-items: center;
    flex-direction: column;
  }
  .contact-us-container5 {
    margin-right: 0px;
  }
  .contact-us-container6 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    align-items: flex-start;
    margin-bottom: 0px;
  }
  .contact-us-contact {
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
  }
}
